.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 120px;
    max-height: 120px;
  }
}

.avatar-uploader .avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
}