.page-wrapper {
  h5 {
    color: #0e0b20;
    font-size: 16px;
    font-weight: 700;
  }
}

.flex-align-bottom {
  display: flex;
  align-items: flex-end;
}

.flex-align-middle {
  display: flex;
  align-items: center;
}